<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <targets>    
    <target name="database" type="Database">
      <connectionstring xdt:Transform="Replace" xdt:Locator="XPath(nlog/target/targets/connectionstring)">Server={Server};Database=ShopContextDB;User ID={Account};Password={Password};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</connectionstring>
    </target>
  </targets>
</nlog>