<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ApiSample.DA.Tables.ShopContext" providerName="System.Data.SqlClient" connectionString="Server={Server};Database=ShopContextDB;User ID={Account};Password={Password};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ExceptionDB" providerName="System.Data.SqlClient" connectionString="Server={Server};Database=LoggingDB;User ID={Account};Password={Password};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <glimpse defaultRuntimePolicy="Off" endpointBaseUri="~/Glimpse.axd" xdt:Transform="Replace">
  </glimpse>
  <entityFramework>
    <contexts>
      <context type="ApiSample.DA.Tables.ShopContext ,ApiSample.DA.Tables"  xdt:Transform="Replace" xdt:Locator="Match(type)">
        <databaseInitializer type="ApiSample.DA.Tables.DatabaseInitializer.DefaultDataInitializer, ApiSample.DA.Tables"></databaseInitializer>
      </context>
    </contexts>
  </entityFramework>
</configuration>