<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ApiSample.DA.Tables.ShopContext" providerName="System.Data.SqlClient" connectionString="Server=tcp:qq80xutkp1.database.windows.net,1433;Database=ShopContextDB;User ID=ApiSample@qq80xutkp1;Password=P@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ExceptionDB" providerName="System.Data.SqlClient" connectionString="Server=tcp:qq80xutkp1.database.windows.net,1433;Database=LoggingDB;User ID=ApiSample@qq80xutkp1;Password=P@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Insert" />
  </system.web>
  <glimpse defaultRuntimePolicy="Off" endpointBaseUri="~/Glimpse.axd" xdt:Transform="Replace">
  </glimpse>
  <entityFramework>
    <contexts xdt:Transform="Insert">
      <context type="ApiSample.DA.Tables.ShopContext,ApiSample.DA.Tables">
        <databaseInitializer type="ApiSample.DA.Tables.DatabaseInitializer.DefaultDataInitializer, ApiSample.DA.Tables">
        </databaseInitializer>
      </context>
    </contexts>
  </entityFramework>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" xdt:Transform="Replace" xdt:Locator="Match(name)">
            <exceptionHandlers>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessage="Something went wrong while processing your request. Please contact system adminstrator." replaceExceptionType="System.ApplicationException, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>
</configuration>