<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atreyu.EFHooks" version="1.0.5.4" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecRun.SpecFlow" version="1.2.0" targetFramework="net45" />
</packages>